{% extends 'base.html.twig' %}

{% block body %}


    <h2>Donnees Sortie</h2>
    <section>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="col">
                    Nom de la sortie
                </th>
                <th scope="col">
                    Date de la sortie
                </th>
                <th scope="col">
                    Clôture
                </th>
                <th scope="col">
                    Inscrits/places
                </th>
                <th scope="col">
                    Etat
                </th>
                <th scope="col">
                    Inscrit
                </th>
                <th scope="col">
                    Organisateur
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            {% for iSortie in listeInfosSortie %}
                <tr>
                    <td>
                        {{  iSortie.nom }}
                    </td>
                    <td>
                        {{  iSortie.dateHeureDebut | date('Y-m-d H:i') }}
                    </td>
                    <td>
                        {{   iSortie.dateLimiteInscription | date('Y-m-d') }}
                    </td>
                    <td>
                        {{  iSortie.nbInscriptionsMax }}
                    </td>
                    <td>
                        {{  iSortie.libelle }}
                    </td>

                    <td>
                    </td>
                    <td>
                        <a href="{{ asset('profil/' ~ iSortie.organisateurId) }}">{{ iSortie.pseudo }}</a>
                    </td>
                    <td>
                        {# iSortie.action #}
                        <a href="{{ asset('afficher/' ~ iSortie.id) }}">{{ iSortie.action }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <br>
    <br>


{% endblock %}

{% block title %}
    {{parent()}} | Affichage Test{
{% endblock %}
