{% extends 'base.html.twig' %}

{% block body %}

    <h2>Filtrer les sorties</h2>

    <div class="container">
        <div class="row">
            <div>
                {% include 'inc/filtres.html.twig'%}
            </div>
        </div>
    </div>

    <section>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="col">
                    Nom de la sortie
                </th>
                <th scope="col">
                    Date de la sortie
                </th>
                <th scope="col">
                    Clôture
                </th>
                <th scope="col">
                    Inscrits/places
                </th>
                <th scope="col">
                    Etat
                </th>
                <th scope="col">
                    Inscrit
                </th>
                <th scope="col">
                    Organisateur
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            {% for iSortie in listeInfosSortie %}
                {% if iSortie.etat.libelle != 'Archivée' %}
                    {% set estVisible = true %}
                    {% if iSortie.etat.libelle == "Créée" and  iSortie.organisateur.id != app.user.id %}
                        {% set estVisible = false %}
                    {% endif %}
                    {% if estVisible == true %}
                <tr>
                    <td>
                        {{  iSortie.nom }}
                    </td>
                    <td>
                        {{  iSortie.dateHeureDebut | date('Y-m-d H:i') }}
                    </td>
                    <td>
                        {{   iSortie.dateLimiteInscription | date('Y-m-d') }}
                    </td>
                    <td>
                        {{ iSortie.inscrits.count }}/{{  iSortie.nbInscriptionsMax }}
                    </td>
                    <td>
                        {{  iSortie.etat.libelle }}
                    </td>
                    <td>
                        {% for inscrit in iSortie.inscrits %}
                            {% if inscrit == app.user %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ asset('profil/' ~ iSortie.organisateur.id) }}">{{ iSortie.organisateur.pseudo }}</a>
                    </td>
                    <td>
                        {# Gestion état quand utilisateur est connecté et se trouve également être l'organisateur de la sortie #}
                        {% if iSortie.organisateur.id == app.user.id %}
                            {% if iSortie.etat.libelle == "Créée" %}
                                <a href="{{ asset('sortie/modifier/' ~ iSortie.id)}}">Modifier</a>
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                <a href="{{ asset('sortie/publier/' ~ iSortie.id) }}">Publier</a>
                            {% elseif iSortie.etat.libelle == "Ouverte" %}
                                <a href="{{ asset('sortie/afficher/' ~ iSortie.id) }}">Afficher</a>
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                {% if iSortie.etat.libelle != 'Annulée' %}
                                <a href="{{ asset('sortie/annuler/' ~iSortie.id) }}">Annuler </a>
                                {% endif%}
                            {% else %}
                                <a href="{{ asset('sortie/afficher/' ~ iSortie.id) }}">Afficher</a>
                            {% endif %}

                            {# Gestion état quand utilisateur est connecté et s'inscrit ou se désinscrit #}
                            {% elseif iSortie.etat.libelle == "Ouverte"  and iSortie.inscrits.count <= iSortie.nbInscriptionsMax %}
                                    <a href="{{ asset('sortie/afficher/' ~ iSortie.id) }}">Afficher</a>
                                {% set trouve = false %}
                                {% for inscrit in iSortie.inscrits %}
                                    {% if inscrit == app.user %}
                                        &nbsp;&nbsp;-&nbsp;&nbsp;
                                        <a href="{{ path('desistement_sortie', { 'participant_id': app.user.id, 'sortie_id': iSortie.id }) }}">Se désister </a>
                                        {% set trouve = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if trouve == false and iSortie.inscrits.count < iSortie.nbInscriptionsMax %}
                                    &nbsp;&nbsp;-&nbsp;&nbsp;
                                    <a href="{{ path('inscrire_sortie', { 'participant_id': app.user.id, 'sortie_id': iSortie.id }) }}">S'inscrire </a>
                                {% endif %}
                            {% else %}
                                {# Gestion des états passés - clôturée - nombre inscription max rempli - activité en cours #}
                                <a href="{{ asset('sortie/afficher/' ~ iSortie.id) }}">Afficher</a>
                        {% endif %}
                    </td>
                </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </section>
    <br>
    <br>
    <div><a href="{{ path('sortie_creer') }}" class="btn btn-primary">Créer une sortie</a></div>


{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}
