{% extends 'base.html.twig' %}

{% block body %}
    <div class="participant-profil">
        <div>
            todo: Afficher photo profil utilisateur
        </div>

        <div class="participant-profil-infos">
            <h2>{{ participant.pseudo }}</h2>
            <div>Prénom : {{ participant.prenom }}</div>
            <div>Nom : {{ participant.nom }}</div>
            <div>Téléphone : {{ participant.telephone }}</div>
            <div>Email : {{ participant.mail }}</div>
            <div>Campus : {{ participant.Campus.nom }}</div>
            <div><button>Retour</button></div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ participant.pseudo }}
{% endblock %}

