{% extends '/base.html.twig' %}

{% block body %}
<h2 align="center">Mon profil</h2>
    <div id="monProfil"> {{ form_start(participantForm) }}
            {{ form_row(participantForm.pseudo, {'value': app.user.pseudo}) }}
            {{ form_row(participantForm.nom, {'value': app.user.nom}) }}
            {{ form_row(participantForm.prenom, {'value': app.user.prenom}) }}
            {{ form_row(participantForm.telephone, {'value': app.user.telephone}) }}
            {{ form_row(participantForm.mail, {'value': app.user.mail}) }}
            {{ form_row(participantForm.Campus, {'value': app.user.campus.nom}) }}
            {{ form_row(participantForm.motPasse) }}
            {{ form_row(participantForm.confirmation) }}
    </div>
    <div id="btnCreerSortie">
        <div>
            <button class="btn btn-primary">Enregistrer modifications</button>
            {{ form_end(participantForm) }}
            <a href="{{ path('main_home') }}" class="btn btn-primary">Annuler</a></div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

