{% extends 'base.html.twig' %}

{% block title %}Gérer les campus | {{ parent() }}{% endblock %}

{% block body %}
<h2 align="center">Gérer les campus</h2>

<div>
    {{ form_start(campusFiltreForm) }}
    {{ form_widget(campusFiltreForm) }}
    <button class="btn btn-primary">Rechercher</button>
    {{ form_end(campusFiltreForm) }}
</div>

<section>

    <table id="entete" class="table table-striped">
        <tbody>
            <tr>
                <th scope="col">
                    Nom du campus
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        {% for lcampus in campus %}
            <tr>
                <td>
                    {{ lcampus.nom }}
                </td> 
                <td>  
                    <a href="{{ path('admin_campus_modifier',{'id':lcampus.id}) }}">Modifier</a>
                    
                    <a href="{{ path('admin_campus_supprimer',{'id':lcampus.id}) }}">Supprimer</a>            
                      
                </td>
            </tr>
            
        {% endfor %}       
        </tbody>
        <tr>
            <td></td>           
            <td align="left"><a href="{{ path('admin_campus_creer') }}">Ajouter</a></td>
        </tr>
    </table>
    
</section>

{% endblock %}
