{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel utilisateur | {{parent() }}{% endblock %}

{% block body %} <h2>Ajouter un nouvel utilisateur</h2>
{{ form_start(creerParticipantForm) }}
{{ form_widget(creerParticipantForm) }}
{{ form_end(creerParticipantForm) }}
<div><a href="{{ path('main_home') }}" class="btn btn-primary">Annuler</a></div>
{% endblock %}
