{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau campus | {{parent() }}{% endblock %}

{% block body %} <h2>Ajouter un nouveau campus</h2>
{{ form_start(modifierCampusForm) }}
{{ form_widget(modifierCampusForm) }}
{{ form_end(modifierCampusForm) }}
<div><a href="{{ path('admin_campus') }}" class="btn btn-primary">Annuler</a></div>
{% endblock %}