{% extends 'base.html.twig' %}

{% block title %}Gérer les villes | {{ parent() }}{% endblock %}

{% block body %}
<h2 align="center">Gérer les villes</h2>

<div id="RechercheVilleCampus">
    {{ form_start(villeFiltreForm) }}
    {{ form_widget(villeFiltreForm) }}
    <button class="btn btn-primary">Rechercher</button>
    {{ form_end(villeFiltreForm) }}
</div>

<section>    
    <table id="entete" class="table table-striped">
        <tbody>
            <tr>
                <th scope="col">
                    Ville
                </th>
                <th scope="col">
                    Code postal
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        {% for lvilles in villes %}
            <tr>
                <td>
                    {{ lvilles.nom }}
                </td> 
                <td>
                    {{ lvilles.codePostal }}
                </td>
                <td>  
                    <a href="{{ path('admin_villes_modifier',{'id':lvilles.id}) }}">Modifier</a>
                    &ensp;-&ensp;
                    <a href="{{ path('admin_villes_supprimer',{'id':lvilles.id}) }}">Supprimer</a>         
                      
                </td>
            </tr>
        {% endfor %}       
        </tbody>
        <tr>
            <td></td>
            <td></td>           
            <td align="left"><a href="{{ path('admin_villes_ajouter') }}">Ajouter</a></td>
        </tr>
    </table>
    
</section>

{% endblock %}
