{% extends 'base.html.twig' %}

{% block title %}Liste des campus | {{ parent() }}{% endblock %}

{% block body %}
<h2>Liste des campus</h2>

<section>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="col">
                    Ville
                </th>
                <th scope="col">
                    Code postal
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        {% for lvilles in villes %}
            <tr>
                <td>
                    {{ lvilles.nom }}
                </td> 
                <td>
                    {{ lvilles.codePostal }}
                </td>
                <td>  
                    <a href="{{ path('admin_villes_modifier',{'id':lvilles.id}) }}">Modifier</a>
                    
                    <a href="{{ path('admin_villes_supprimer',{'id':lvilles.id}) }}">Supprimer</a>         
                      
                </td>
            </tr>
        {% endfor %}       
        </tbody>
    </table>
    <table class="table table-striped" >
        <tr>            
          <td align="center"><a href="{{ path('admin_villes_ajouter') }}">Ajouter</a></td>
        </tr>
    </table>
 
</section>

{% endblock %}
