{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie | {{parent() }}{% endblock %}

{% block body %}<h2>Annuler une sortie</h2>
<div class="row">
        <label>Nom de la sortie :</label>    
        <p>{{ sortie.nom }}</p>
    </div>
    <div class="row">
        <label>Date de la sortie :</label>        
            <p>{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</p>
        </div>    
        <div class="row">
            <label>Ville organisatrice :</label>
                <p>{{ sortie.lieuSortie.ville.nom }}</p>
            </div>
        <div class="row">
            <label>Lieu :</label>
            <p>{{ sortie.lieuSortie.nom }}</p>
            </div>

                {{ form_start(annulationForm) }}
                {{ form_row(annulationForm.infosSortie) }}
    <button type="submit" class="btn btn-primary">Confirmer</button>
                {{ form_end(annulationForm) }}


<div><a href="{{ path('main_home') }}" class="btn btn-primary">Retour</a></div>


{% endblock %}