{% extends 'base.html.twig' %}

{% block title %}
Créer une nouvelle sortie | {{parent() }}
{% endblock %}
{% block script %}
    <script src="{{ asset('js/selectionVille.js') }}" defer></script>
{% endblock %}

{% block body %}<h2>Creer une sortie</h2>
{{ form_start(creerSortieForm) }}

<div id="creer-sortie">
    <div>
        {{ form_row(creerSortieForm.nom) }}
        {{ form_row(creerSortieForm.dateHeureDebut) }}
        {{ form_row(creerSortieForm.dateLimiteInscription) }}
        {{ form_row(creerSortieForm.nbInscriptionsMax) }}
        {{ form_row(creerSortieForm.duree) }}
        {{ form_row(creerSortieForm.infosSortie) }}
        <span>Campus : </span> {{ app.user.campus.nom }}
        {{ form_row(creerSortieForm.ville) }}
       {# {{ form_row(creerSortieForm.chercherLieu) }} #}
        {{ form_row(creerSortieForm.lieuSortie) }}

       <div> <a href="{{ path('lieu_cree') }}" class="btn btn-primary">Ajouter un lieu</a> </div>
        </div>
        
    </div>
</div>
<div>
    <div>{{ form_row(creerSortieForm.Sauvegarder, {'attr':{'class':'btn btn-primary'}}) }}</div>
    <div>{{ form_row(creerSortieForm.Publier, {'attr':{'class':'btn btn-primary'}}) }}</div>    
    <div><a href="{{ path('main_home') }}" class="btn btn-primary">Annuler</a></div>
</div>

{{ form_end(creerSortieForm) }}

{% endblock %}