{% extends 'base.html.twig' %}

{% block title %}
Créer une nouvelle sortie | {{parent() }}
{% endblock %}

{% block body %}<h2>Creer une sortie</h2>
{{ form_start(creerSortieForm) }}

<div id="creer-sortie">
    <div>
        <p>{{ form_row(creerSortieForm.nom) }}</p>
        {{ form_row(creerSortieForm.dateHeureDebut) }}
        {{ form_row(creerSortieForm.dateLimiteInscription) }}
        {{ form_row(creerSortieForm.nbInscriptionsMax) }}
        {{ form_row(creerSortieForm.duree) }}
        {{ form_row(creerSortieForm.infosSortie) }}
        <span>Campus : </span> {{ app.user.campus.nom }}

        {% if creerSortieForm.lieuSortie is defined %}
        {{ form_row(creerSortieForm.ville) }}
        {{ form_row(creerSortieForm.lieuSortie) }}
        {% endif %}

        <button>Ajouter un lieu</button>

        {#<div>
            <div>
                <label for="rechercherlieu"> Rechercher un lieu </label>
                <input type="text" id="rechercherLieu" class="form-control m-2">
                {{ form_widget(creerSortieForm.creerLieu.nom) }}
                {{ form_widget(creerSortieForm.creerLieu.rue,{'attr': {'id': 'route'}}) }}
                {{ form_widget(creerSortieForm.creerLieu.ville, {'attr': {'id': 'locality'}}) }}
                {{ form_widget(creerSortieForm.creerLieu.latitude, {'attr': {'type': 'hidden'}}) }}
                {{ form_widget(creerSortieForm.creerLieu.longitude, {'attr': {'type': 'hidden'}})}}
            </div>
        </div>#}
        
    </div>
</div>
<div>
    <div>{{ form_row(creerSortieForm.Sauvegarder, {'attr':{'class':'btn btn-primary'}}) }}</div>
    <div>{{ form_row(creerSortieForm.Publier, {'attr':{'class':'btn btn-primary'}}) }}</div>    
    <div><a href="{{ path('main_home') }}" class="btn btn-primary">Annuler</a></div>
</div>

{{ form_end(creerSortieForm) }}

{% endblock %}